body {
    font-family:  Arial;
}

main {
    display: flex;
    flex-direction: row;
}

.colorSection {
    height: 100vh;
    width: 50vw;
}

#firstColor {
    background-color: bisque;
}

#secondColor {
    background-color: cornflowerblue;
}